 #NAGLOWEK {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('/grafika/zdjecia/logo.png') no-repeat center center;
    font-family: 'Lato';
}

#NAGLOWEK span {
    display: block;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px rgba(225, 225, 225, 1);
    float: right;
}

#NAGLOWEK span:first-of-type {
    font-size: 90px;
    text-decoration: underline;
}

#NAGLOWEK span:nth-of-type(2) {
    font-size: 45px;
}

#NAGLOWEK span:nth-of-type(3) {
    font-size: 35px;
    padding-top: 10px;
    clear: both;
}

#NAGLOWEK section {
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: 0;
    top: 55%;
}

#NAGLOWEK section .sectionTitle {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.waterMarkTitle {
    background-image: url("/grafika/zdjecia/imdugud_min.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15vh;
    height: 15vh;
}
@media (max-width: 1000px) {
    #NAGLOWEK {
        background: url('/grafika/zdjecia/logo_500.gif') no-repeat center;
        align-items: center;
    }

    #NAGLOWEK span:first-of-type {
        font-size: 65px;   
    }
    
    #NAGLOWEK span:nth-of-type(2) {
        font-size: 37px;
    }
    
    #NAGLOWEK span:nth-of-type(3) {
        font-size: 35px;
    }

    #NAGLOWEK section {
        width: 80%;
    }

    #NAGLOWEK section .sectionTitle {
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    #NAGLOWEK span:first-of-type {
        font-size: 50px;
    }
    #NAGLOWEK span:nth-of-type(2) {
        font-size: 30px;
        padding-top: 10px;
    }
    #NAGLOWEK span:nth-of-type(3) {
        font-size: 28px;
    }
}

@media (max-height: 420px) and (max-width: 1000px) {
    #NAGLOWEK {
        background: url('/grafika/zdjecia/logo_300px.gif') no-repeat center;
    }

    #NAGLOWEK span:first-of-type {
        font-size: 45px;   
    }
    
    #NAGLOWEK span:nth-of-type(2) {
        font-size: 25px;
    }
    
    #NAGLOWEK span:nth-of-type(3) {
        font-size: 18px;
    }

    #NAGLOWEK section .sectionTitle {
        font-size: 25px;
    }

    #NAGLOWEK section {
        width: 80%;
        padding-right: 0;
        top: 48%;
    }
}

@media (min-height: 1000px) and (max-width: 800px) {
    #NAGLOWEK span:first-of-type {
        margin-top: 65px;
    }

    #NAGLOWEK section {
        top: 55%;
    }

    #NAGLOWEK section .sectionTitle {
        margin-top: 0;
    }
}

@media (max-height: 750px) {
    #NAGLOWEK section {
        top: 45%;
    }
}

@media (min-height: 700px) and (max-height: 800px) and (max-width: 1200px) {
    #NAGLOWEK section {
        top: 55%;
    }
}

@media (max-height: 330px) and (max-width: 1000px) {
    #NAGLOWEK section {
        top: 43%;
    }
}

@media (min-height: 421px) and (max-width: 479px) {
    #NAGLOWEK {
        background: url('/grafika/zdjecia/logo_300px.gif') no-repeat center;
    }

    #NAGLOWEK span:first-of-type {
        font-size: 30px;    
        margin-top: 45px;
    }

    #NAGLOWEK span:nth-of-type(2) {
        font-size: 15px;
    }
    
    #NAGLOWEK span:nth-of-type(3) {
        font-size: 13px;
    }

    #NAGLOWEK section {
        top: 60%;
    }

    #NAGLOWEK section .sectionTitle {
        margin-top: 0;
        font-size: 15px;
    }

    .waterMarkTitle {
        margin-top: 0;
        width: 10vh;
        height: 10vh;
    }
}